<!DOCTYPE html>
{% load static%}
{% load geojson_tags %}
{% load leaflet_tags %}
<html lang="en">
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Awesome font cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <!-- CSS link -->
    <link rel="stylesheet" href="{%static 'style.css'%}">
     <!-- Chart.js -->
     <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
     <script>var farm_id = {{farm_id | escapejs}}</script>
</head>
<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" class='logo'> 
                    <img src='{% static "download.png" %}' alt=""> 
                    <span class="nav-item">Dashboard</span></a></li>
                <li><a href="">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Veg Index</span>
                </a></li>
                <li><a href="">
                    <i class="fas fa-calendar-days"></i>
                    <form method="post">
                        <!-- <span class="nav-item">Start Date</span> -->
                        {{form.as_p}}
                        {% csrf_token %}
                        <input type="submit" class="btn btn-primary" value="submit" id="sub" >
                    </form>
                    
                </a></li>
                <li><a href={% url 'weather' farm.farm_id %}>
                    <i class="fas fa-cloud-sun-rain"></i>
                    <span class="nav-item">Weather</span>
                </a></li>
                <li><a href={% url 'lulc' farm.farm_id %}>
                    <i class="fas fa-cog"></i>
                    <span class="nav-item">LULC</span>
                </a></li>
            </ul>
        </nav>
        <section class="main">
            <div class="main-top">
                <h1>Farm Information system</h1>
                <i class="fa-solid fa-wheat-awn"></i>
            </div>
            <div class="main-map">
                <div class="card">
                    <!-- <i class="fa-solid fa-map"></i> -->
                    <h1>{{ farm.farm_id }}</h1>
                    <div style="height: 100vh;">
                        {{ map|safe }}
                        <script>
                            {{ map.script.render|safe }}
                        </script>
                    </div>
                    
                </div>
            </div>
            <section class="main-bottom">
                <canvas class="infobox-1" id="ndviChart" width="200"></canvas>
                <!-- <div class="infobox-1"> -->
                    <script>
                        // Get data passed from Django
                        var dates = {{ dates|safe }}
                        var ndviValues = {{ ndvi_values|safe }}
                
                        // Create a new Chart
                        var ctx = document.getElementById('ndviChart').getContext('2d');
                        var ndviChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: dates,  // Dates on the x-axis
                                datasets: [{
                                    label: 'NDVI Values',
                                    data: ndviValues,  // NDVI values on the y-axis
                                    borderColor: 'rgb(0, 0, 0)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    yAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'NDVI Values'
                                        }
                                    }],
                                    xAxes: [{
                                        scaleLabel: {
                                            display: true,
                                            labelString: 'Dates'
                                        }
                                    }]
                                }
                            }
                        });
                    </script>
                <!-- </div> -->
                <div class="infobox-2">
                        <img src="{%static 'classes.png'%}" alt="">
                </div>
            </section>
        </section>
    </div>
    <!-- <h1>{{ farm.farm_id }}</h1>
    <div>{% leaflet_map 'map' callback='map_init' %}</div>
    <script>
        function map_init(map, options){
            var area = L.geoJson({{ farm.geom | geojsonfeature | safe }}).addTo(map);
            map.fitBounds(area.getBounds())
        }
    </script> -->
</body>
</html>